<!DOCTYPE html>
<html>
  <head>
    <!-- Document title -->
    <title>Chapter Catalog</title>
    <!-- Meta tag for CSRF token -->
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <!-- Include Tailwind CSS stylesheet -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css"
    />
  </head>

  <body class="bg-gray-100">
    <!-- Navigation Bar -->
    <div class="navbar bg-gray-600 text-white p-4 mb-4">
      <div class="container mx-auto flex justify-between items-center">
        <div class="flex items-center">
          <!-- Logo -->
          <div class="navbar-logo">
            <img
              src="https://img.freepik.com/free-vector/school-education-logo-template_23-2149713051.jpg?w=740&t=st=1707238791~exp=1707239391~hmac=47a76b893ed86a6fb26db168c3d474bf17a29d0e1cd67bdd578f6b82f25f05cb"
              alt="Logo"
              class="max-h-10"
            />
          </div>
        </div>
        <div class="flex space-x-8">
          <!-- Navigation Links -->
          <a href="/show" class="text-white">Home</a>
          <a href="/about" class="text-white">About</a>
          <a href="/contact" class="text-white">Contact</a>
        </div>
      </div>
    </div>
    <!-- Heading -->
    <h1 class="text-3xl font-bold text-center my-6">Chapters</h1>
    <!-- Chapter Table -->
    <table class="table-auto w-full bg-white rounded-lg shadow-lg p-4">
      <thead>
        <tr class="bg-gray-200">
          <!-- Table Headers -->
          <th class="px-4 py-2">Chapter ID</th>
          <th class="px-4 py-2">Title</th>
          <th class="px-4 py-2">Description</th>
        </tr>
      </thead>
      <tbody>
        <% let chapterIndex=0; chapters.forEach(function(chapter, index)
        {chapterIndex++ %>
        <tr
          class="<%= index % 2 === 0 ? 'bg-gray-300' : 'bg-gray-400' %> hover:bg-gray-100"
        >
          <!-- Chapter details -->
          <td class="px-4 py-2"><%= chapterIndex %></td>
          <td class="px-4 py-2">
            <!-- Link to admin page -->
            <a href="/adminpageonline/<%= chapter.id %>">
              <div
                class="chapter-link bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded"
              >
                <%= chapter.title %>
              </div>
            </a>
          </td>
          <td class="px-4 py-2"><%= chapter.description %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </body>
</html>
