<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Document title -->
    <title>Course Catalog</title>
    <!-- CSRF token -->
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <!-- Include Tailwind CSS via CDN -->
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <!-- Include Font Awesome CSS via CDN -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha384-pzjw4NxyA7ADLlZ0f/DS83I5O7jsDePsC3nmQJw4rISwMx6fe7T9CjQyC9dFO2F21"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="min-h-screen bg-gray-100 p-8">
      <div class="max-w-screen-xl mx-auto">
        <!-- Welcome message section -->
        <div class="m-4 p-4 text-black-700 text-left">
          <!-- Greet user -->
          <p class="text-4xl font-extrabold text-black-700">
            Welcome <%= user.firstName %>!
          </p>
        </div>
        <br />
        <hr class="h-1 bg-gray-800 shadow-xl my-8" />
        <!-- Course list header -->
        <div class="mt-8">
          <!-- Display header -->
          <div class="text-3xl font-bold mb-4 text-center text-indigo-700">
            Available Courses
          </div>
        </div>
        <!-- Course list section -->
        <div class="flex flex-grow flex-wrap -mx-4">
          <% for (let course of courses) { %>
          <div class="w-full md:w-1/2 lg:w-1/3 p-4">
            <div
              class="p-6 bg-green-200 text-gray-800 rounded-lg shadow-md hover:bg-green-300 transition duration-300 ease-in-out transform hover:scale-105"
            >
              <div class="text-xl font-bold mb-2">
                <!-- Display course title -->
                <%= course.title %>
                <!-- Enroll button -->
                <a
                  href="/enroll/<%= course.id %>"
                  class="enroll-link bg-green-500 text-white font-semibold px-4 py-2 rounded-lg mb-2 hover:bg-green-800 transition duration-300 ease-in-out inline-block"
                  >Enroll</a
                >
                <!-- Visit button -->
                <a
                  href="/viewcourses/<%= course.id %>"
                  class="enroll-link bg-green-500 text-white font-semibold px-4 py-2 rounded-lg mb-2 hover:bg-green-800 transition duration-300 ease-in-out inline-block"
                  >Visit</a
                >
              </div>
              <!-- Display course author -->
              <ul>
                <h1 class="text-xl font-semibold mb-2">
                  Author: <%= course.author %>
                </h1>
              </ul>
              <!-- Display enrolled students count -->
              <h1 class="text-xl font-semibold mb-2">
                <i class="fas fa-user-graduate"></i> Enrolled Students: <%=
                course.enrolledStudents %>
              </h1>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </div>
  </body>
</html>
