<!DOCTYPE html>
<html>
  <head>
    <!-- Page Title: Interactive Page Navigation -->
    <title>Interactive Page Navigation</title>
    <!-- Include Tailwind CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <!-- CSRF Token -->
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <!-- Define custom styles -->
    <style>
      @keyframes floating {
        0%,
        100% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(-15px);
        }
      }
      /* Floating box animation */
      .floating-box {
        animation: floating 1s infinite;
      }
    </style>
    <!-- Define JavaScript functions to update page status -->
    <script>
      // Fetch CSRF token from meta tag
      var token = document
        .querySelector("meta[name='csrf-token']")
        .getAttribute("content");
      // Function to update page status via fetch request
      function updatePageStatus(id, courseId) {
        fetch(`/page/${id}/${courseId}`, {
          method: "put",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({ _csrf: token }),
        })
          .then((res) => {
            if (res.ok) {
              // Reload page if update is successful
              window.location.reload();
              console.log("Page status updated successfully");
            }
          })
          .catch((err) => console.error(err));
      }
    </script>
  </head>
  <body class="p-4">
    <!-- Navigation bar -->
    <div class="navigation-bar bg-gray-900 text-white p-4 mb-4">
      <div class="container mx-auto flex justify-between items-center">
        <div class="flex items-center">
          <!-- School logo -->
          <div class="navigation-logo">
            <img
              src="https://img.freepik.com/free-vector/school-education-logo-template_23-2149713051.jpg?w=740&t=st=1707238791~exp=1707239391~hmac=47a76b893ed86a6fb26db168c3d474bf17a29d0e1cd67bdd578f6b82f25f05cb"
              alt="School Logo"
              class="max-h-10"
            />
          </div>
        </div>
        <!-- Navigation links -->
        <div class="flex space-x-8">
          <a href="/show" class="navigation-link text-white">Home</a>
          <a href="/about" class="navigation-link text-white">About</a>
          <a href="/contact" class="navigation-link text-white">Contact</a>
          <a
            href="/viewcourse?packId=<%=packId %>"
            class="navigation-link text-white"
            >Chapter List</a
          >
          <a
            href="/mycoursestudent/<%=userid %>"
            class="navigation-link text-white"
            >My Course Section</a
          >
        </div>
      </div>
    </div>
    <!-- Container for pages -->
    <div class="content-box bg-white p-4 rounded shadow-lg">
      <div id="page-container">
        <% for (let page of pages) { %>
        <div class="page" style="display: none">
          <!-- Checkboxes to mark page status -->
          <div class="flex items-center mb-2">
            <% for (let pagestat of pagestats) { %> <% if
            (page.id==pagestat.pageId) { %> <input id="<%= pagestat.pageId %>"
            type="checkbox" <%=pagestat.status? "checked" : "" %>
            onclick="updatePageStatus(<%= pagestat.pageId %>,<%=
            pagestat.courseId %>)" class="w-4 h-4 text-blue-600 bg-gray"> <% }
            %> <% } %>
          </div>
          <!-- Page content -->
          <%- page.word %>
        </div>
        <% } %>
      </div>
      <!-- Navigation buttons -->
      <div class="flex justify-between">
        <button
          id="back-button"
          class="navigation-button bg-green-500 text-white py-2 px-4 rounded hover:bg-green-600"
        >
          Back
        </button>
        <button
          id="next-button"
          class="navigation-button bg-green-500 text-white py-2 px-4 rounded hover:bg-green-600"
        >
          Next
        </button>
      </div>
    </div>
    <!-- Floating box for notifications -->
    <div
      class="absolute top-25 left-1 space-x-4 bg-yellow-300 p-4 floating-box"
    >
      <!-- Notification messages -->
      <p>
        <span class="font-bold text-red-500 italic">N.B: 1.</span> If you are
        viewing a blank page with the back button
      </p>
      <p>
        <span class="font-bold text-red-500 italic"> </span> Please press back
        until you reach the first page
      </p>
    </div>
    <!-- JavaScript for page navigation and display -->
    <script>
      // Get all page elements
      var pages = document.querySelectorAll("#page-container .page");
      var backButton = document.getElementById("back-button");
      var nextButton = document.getElementById("next-button");
      // Retrieve current page index from session storage or set to 0
      var currentIndex = sessionStorage.getItem("currentPageIndex");
      if (currentIndex === null) {
        currentIndex = 0;
      } else {
        currentIndex = parseInt(currentIndex);
      }

      // Function to display current page and update navigation buttons
      function displayCurrentPage() {
        for (var i = 0; i < pages.length; i++) {
          if (i === currentIndex) {
            pages[i].style.display = "block";
          } else {
            pages[i].style.display = "none";
          }
        }
        if (currentIndex === 0) {
          backButton.classList.add("hidden");
          nextButton.classList.remove("hidden");
        } else if (currentIndex === pages.length - 1) {
          backButton.classList.remove("hidden");
          nextButton.classList.add("hidden");
        } else {
          backButton.classList.remove("hidden");
          nextButton.classList.remove("hidden");
        }
        // Store current page index in session storage
        sessionStorage.setItem("currentPageIndex", currentIndex);
      }

      // Function to navigate to next page
      function nextPage() {
        if (currentIndex < pages.length - 1) {
          currentIndex++;
          displayCurrentPage();
        }
      }

      // Function to navigate to previous page
      function prevPage() {
        if (currentIndex > 0) {
          currentIndex--;
          displayCurrentPage();
        }
      }

      // Event listeners for navigation buttons
      nextButton.addEventListener("click", nextPage);
      backButton.addEventListener("click", prevPage);
      // Display initial page
      displayCurrentPage();
    </script>
  </body>
</html>
